body{
	font-size: 16px;
	/*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
	/*background-image: url("flight.jpg");*/
	background-color: #ccc;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*opacity: 0.2;*/

}
body::before{
	content:"";
    position: absolute;
    top:0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: url("flight.jpg");
  	background-repeat: none;
  	background-size: cover;
/*   background-color: gray; */
  	opacity:.7;
  	z-index:-1
}
.header1{
	padding: 120px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
  	font-size: 75px;
}
.enter2{
	float: center;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: pink;
	/*background-color: lightgrey*/
}
input[type=text]{
	float: center;
	text-align: center;
	background-color: transparent;
	color:white;
	/*border: 2px solid lightgrey;*/
	/*padding: 3px;*/

}